.cm-industry-applications-layout {
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--heading-text-color);
    background-color: var(--background-color);
}

.cm-industry-applications .section-title {
    color: var(--heading-text-color);
    margin-bottom: 40px;
}

.cm-industry-applications .tab-header.js-tabHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}

.cm-industry-applications .tab-header-item {
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    min-width: 10%;
    margin-bottom: -4px;
    padding-bottom: 20px;
}
.cm-industry-applications .tab-header-item.active {
    color: #fff;
    background: url(https://cdn.shopify.com/s/files/1/0987/2418/4363/files/line-row.png?v=1772703257) no-repeat;
    background-position: center bottom;
}

.cm-industry-applications img {
    max-width: 100%;
    height: auto;
}

.cm-industry-applications .tab-centent {
    padding-top: 70px;
    min-height: 800px;
    display: flex;
    align-items: center;
}
.cm-industry-applications .tab-content-item {
    display: none;
}
.cm-industry-applications .tab-content-item.active {
    display: block;
}
.cm-industry-applications .tab-content-item-inner {
    display: flex;
}
.cm-industry-applications .tab-content-left {
    flex: 0 0 30%;
    max-width: 30%;
}
.cm-industry-applications .tab-content-right {
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;
}

.cm-industry-applications .tab-content-right .image-bg {
    position: relative;
    z-index: 1;
}
.cm-industry-applications .tab-content-right .image-entity {
    position: absolute;
    z-index: 2;
    width: 61.2%;
    bottom: 15.35%;
    left: 19.5%;
}

.cm-industry-applications .tab-content-item-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}
.cm-industry-applications .tab-content-item-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.cm-industry-applications .tab-content-item-link {
    margin-top: 50px;
    font-size: 18px;
    color: #fff;
    display: block;
    text-decoration: none;
}


@media (max-width: 768px) {
    .cm-industry-applications .page-width-desktop {
        padding: 0 1.5rem;
    }
    .cm-industry-applications .tab-centent {
        padding-top: 30px;
        min-height: auto;
    }
    .cm-industry-applications .tab-content-item-inner {
        flex-direction: column;
    }
    .cm-industry-applications .tab-content-left {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cm-industry-applications .tab-content-right {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .cm-industry-applications .tab-content-item-title {
        font-size: 24px;
    }
    .cm-industry-applications .tab-content-item-description {
        font-size: 14px;
    }
    .cm-industry-applications .tab-content-item-link {
        font-size: 16px;
    }
}